.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: rgb(12, 11, 11);
    border-radius: 8px;
    text-align: center;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.logo {
    color: white;
    font-size: 22px;
}
.fontWelcome {
    font-family: 'Montserrat', sans-serif;
    font-weight: 10000;
    letter-spacing: -1.5px;
    color: white;
    font: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.input-group{
    font: bold;
    font-size: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}
.label{
    color: white;
    font-size: 8px;
    font: bold;
    font-weight: 600;
    align-items: flex-start;
    margin-bottom: 2px;
}
.user{
    width: 100%;
    padding: 5px;
    padding-left: 18px;
    padding-right: 18px;
    padding-inline-start: 1px;
    text-align: left;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #727272;
    color: white;
    box-sizing: border-box;
}
.btn-ctn{
    background-color: rgb(7, 233, 7);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10;
    font: bold;
    font-weight: bold;
    padding: 8px;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
    border-radius: 12px;
    transform: translate(1px);
    transition: 0.3s ease-in-out;
    box-shadow: 5px #000;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-ctn:hover {
    background-color: rgb(74, 247, 74);
    transition: .2s ease-in-out;
    transform: translateY(0.1px);
}
.txt-or{
    font-size: 9;
    font: bold;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}
.socialpn-btn{
    color: white;
    background-color: transparent;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10;
    font: bold;
    font-weight: bold;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 12px;
    border-color: white;
    transform: translate(1px);
    transition: 0.3s ease-in-out;
    box-shadow: 5px #000;
    cursor: pointer;
    margin-bottom: 3px;
}
.socialpn-btn:hover {
    background-color: rgb(12, 11, 11);;
    transition: .2s ease-in-out;
    transform: translateY(0.1px);
}
.socialggl-btn{
    color: white;
    background-color: transparent;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10;
    font: bold;
    font-weight: bold;
    padding: 8px;
    padding-left: 62px;
    padding-right: 62px;
    border-radius: 12px;
    border-color: white;
    transform: translate(1px);
    transition: 0.3s ease-in-out;
    box-shadow: 5px #000;
    cursor: pointer;
    margin-bottom: 3px;
}
.socialggl-btn:hover {
    background-color: rgb(12, 11, 11);;
    transition: .2s ease-in-out;
    transform: translateY(0.1px);
}
.socialfb-btn{
    color: white;
    background-color: transparent;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10;
    font: bold;
    font-weight: bold;
    padding: 8px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 12px;
    border-color: white;
    transform: translate(1px);
    transition: 0.3s ease-in-out;
    box-shadow: 5px #000;
    cursor: pointer;
    margin-bottom: 3px;
}
.socialfb-btn:hover {
    background-color: rgb(12, 11, 11);;
    transition: .2s ease-in-out;
    transform: translateY(0.1px);
}
.socialapp-btn {
    color: white;
    background-color: transparent;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 10;
    font: bold;
    font-weight: bold;
    padding: 8px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 12px;
    border-color: white;
    transform: translate(1px);
    transition: 0.3s ease-in-out;
    box-shadow: 5px #000;
    cursor: pointer;
    margin-bottom: 10px;
}
.socialapp-btn:hover {
    background-color: rgb(12, 11, 11);;
    transition: .2s ease-in-out;
    transform: translateY(0.1px);
}
.no-account{
    font-size: 10;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.note{
    font-size: 5;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
}